@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<form action="/Clients/ShowSearch" method="post">
  <label for="searchPhrase">Search Site: </label>
  <input name="searchPhrase" id="searchPhrase" type="text">
  <button type="submit">Search!</button>
</form>

