@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

<h1>Restaurants</h1>

<ul>
  @foreach (Restaurant restaurant in Model)
  {
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId }) | @restaurant.Category.Name
  </li>
  }
</ul>

<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
